.card-contact {
    margin-top: 1%;
    margin-bottom: 1%;
    transition: box-shadow 0.5s;
    border-radius: 10px;
}

.card-contact:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-left-side {
    margin-left: 2%;
}

.card-right-side {
    margin-right: 2%;
}

p {
    font-size: inherit!important;
}

td {
    border: 1px solid #c1c1c1;
    text-align: left;
    padding: 8px;
}

