.navigatie {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.nav-text {
    color: #fff !important;
}

.overflow-div { 
    position: relative;
    height: 500px;
    overflow: auto;
}

.div-doel {
    position: relative;
    padding: 2%;
    border: 1px solid #c1c1c1;
    margin: 2%;
    border-radius: 15px;
}

